*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.lightbox__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131313;
    opacity: 0;
    transition: all .15s;
}

.lightbox__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox__image img {
    object-fit: contain;
    width: 50vw;
    height: 50vh;
    transition: all .15s;
}

.lightbox__close {
    cursor: pointer;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 7%;
    right: 9%;
}

.lightbox__previous-arrow,
.lightbox__next-arrow {
    cursor: pointer;
    font-size: 45px;
    color: white;
}

.lightbox__previous-arrow {
    position: absolute;
    top: 47%;
    left: 17%;
}

.lightbox__next-arrow {
    position: absolute;
    top: 47%;
    right: 17%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-items {
    cursor: pointer;
    object-fit: contain;
    width: 100%;
    height: 100vh;

    @media (min-width: 768px) {
        width: 50%;
        height: 50vh;
    }

    @media (min-width: 1440px) {
        width: 33.3%;
        height: 33.3vh;
    }
}